server:
  port: 8080

spring:
  application:
    name: freshmart-irs-backend

knife4j:
  enable: true
  setting:
    language: zh_cn

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
